<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TweetishApp</title>
</head>
<body>
    <header>
    </header>
    <div class="container">
        <partial name="_ErrorMsg"/>
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
