<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TweetishApp</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <header>
    <span id="userId" data-user-id=@ViewData["userId"]></span>
        <partial name="_NavHeader"/>
    </header>

    <partial name="_ErrorMsg"/>

    <div class="container">

        @RenderBody()

    </div>

    <footer></footer>

    @RenderSection("Scripts", required: false)

    @if (User.Identity.IsAuthenticated){
        <script src="/dist/js/tweets/create/Main.js"></script>
    }
</body>
</html>
